{
  "extends": "airbnb-base",
  "parser": "babel-eslint",
  "globals": {
    "document": true,
    "describe": true,
    "test": true,
    "expect": true,
    "fetch": true
  },
  "rules": {
    "no-confusing-arrow": 0
  }
}
