* {
    box-sizing: border-box;
    font-family: 'Droid Sans', sans-serif;
}

html {
    height: 100%;
    overflow: hidden;
    background-color: black;
    color: white;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body > div {
    height: 100%;
}

.app {
    height: 100%;
}

.film-search {
    padding: 24px;
    display: flex;
    flex-flow: column;
    height: 100%;
}

.search-input {
    display: flex;
    height: 52px;
}

.search-input__search-box {
    -webkit-appearance: none;
    appearance: none;
    height: 40px;
    width: calc(100% - 20px);
    max-width: 350px;
    border: none;
    background: none;
    outline: none;
    color: white;
    font-size: 28px;
    padding-bottom: 4px;
    border-bottom: 4px solid white;
    margin: 0 16px 0 0;
}

.search-input__count {
    padding: 8px;
    font-size: 2rem;
}

.search-results {
    display: flex;
    flex-wrap: wrap;
    margin: 28px 0 0 0;
    padding: 8px 0 0 0;
    overflow: auto;
}

.movie-card {
    height: 400px;
    width: 200px;
    padding: 8px;
}

.movie-card__img {
    height: 288px;
    overflow: hidden;
}

.movie-card__details {
    display: flex;
    flex-flow: column;
    margin: 4px 0 0 0;
}

.movie-card__detail {
    display: flex;
}

.movie-card__vote {
    font-size: 3rem;
}